body {
  background-color: black;
  color: #00ff00;
}

button {
  background-color: black;
  color: #00ff00;
  border: 1px solid #00ff00;
}

input {
  background-color: black;
  color: #00ff00;
  border: 1px solid #00ff00;
}
